@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

.header-row {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 20px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.header-wrapper .header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.header-wrapper .logo {
    font-family: 'Dancing Script', cursive;
    color: rgba(253, 5, 5, 0.8);
    font-size: 40px;
    width: 100%;
}

.header-wrapper .header-center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    flex: 3;
}

.header-wrapper .form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
}

.header-wrapper .form-search .search-input {
    width: 100%;
    height: 46px;
    font-size: 16px;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px 4px #7a7a7a;
}

.header-wrapper .form-search .fa-magnifying-glass {
    position: absolute;
    top: 7px;
    right: 10px;
}

.header-wrapper .form-search .search-results {
    position: absolute;
    top: 100%;
    display: none;
    width: 100%;
    padding: 10px;
    transition: all 1s ease;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: #fff;
}

.header-wrapper .form-search .search-results.active {
    display: block;
    border: 2px solid #7a7a7a;
    box-shadow: initial;
    z-index: 1000;
}

.header-wrapper .form-search .search-input.active {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 2px solid #7a7a7a;
    border-left: 2px solid #7a7a7a;
    border-right: 2px solid #7a7a7a;
    box-shadow: initial;
}

.header-wrapper .form-search .search-results .results {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
}

.header-wrapper .form-search .result-item {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
    transition: background-color 0.2s ease;
}

.header-wrapper .form-search .result-item:hover {
    background-color: #e9e7e7;
}

.header-wrapper .form-search .search-thumb {
    max-width: 65px;
    width: 100%;
}

.header-wrapper .form-search .search-info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.header-wrapper .form-search .search-sku {
    color: #7a7a7a;
    margin: 2px 0;
}

.header-wrapper .form-search .search-price {
    font-weight: 600;
    color: #558063;
}

.header-wrapper .header-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

header .header-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    column-gap: 10px;
    transition: all 1s ease;
}

header .header-right a:hover .fa-chevron-down {
    transform: rotate(180deg);
}

header .header-right .header-second hr {
    border: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 13em;
    width: 1px;
    left: 250px;

}

header .header-right .header-second {
    position: absolute;
    top: 60px;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: rgb(204, 202, 202);
    width: 32em;
    height: 13em;
    border-radius: 10px;
}

header .header-second .header-left1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

header .header-right .header-second h4 {
    margin-bottom: 15px;
}

header .header-right .header-second .header-second-alt {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

header .header-right .header-second .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

header .header-right .header-second .form-group button {
    padding: 7px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(230, 21, 21, 0.8) 0%, rgba(230, 21, 21, 0.2) 100%);
    color: #fff;
}

header .header-right .header-second .form-group button:hover {
    background: linear-gradient(to bottom, rgba(230, 21, 21, 0.8) 30%, rgba(230, 21, 21, 0.2) 100%);
}

header .header-right1 p {
    font-size: 15px;
}

header .header-right1 a {
    background: linear-gradient(to top, rgba(244, 248, 4, 0.8) 30%, rgba(244, 248, 4, 0.2) 100%);
    text-decoration: none;
    padding: 7px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

header .header-right1 a:hover {
    background: linear-gradient(to bottom, rgba(244, 248, 4, 0.8) 30%, rgba(244, 248, 4, 0.2) 100%);
}

header .header-second .header-right1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    flex: 1;
}

/*! Navbar Menü start */
.nav-btn{
    width: 100%;
}
.nav-links > ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #000;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    transition: .5s;
}
.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    color: #fff;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: red;
    color: #fff;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #fff;
    color: red;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: red;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}
.container2{
    width: 100%;
}
.container2:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: red;
}
.hamburger-menu-container{
    display: none;
    align-items: center;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width: 920px){
    .header-wrapper{
        flex-direction: column;
        row-gap: 20px;
    }
    .header-wrapper .header-left {
        text-align: center;
        flex: initial;
    }
    .header-wrapper .form-search .search-results {
        position: initial;
    }
    .hamburger-menu-container{
        display: flex;
    }
    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 16rem;
        left: 0;
        width: 100%;
        background-color: red;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: red;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: red;
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #fff;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: red;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #fff;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #fff;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}
/*! Navbar Menü start */
